@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
.lead__picture {
  max-width: 984px;
  display: block;
  margin: 0 auto;
  padding-top: 64px;
  color: #fff;
  font: 400 10px/14px 'Inter', 'sans-serif';
  letter-spacing: 1.5px;
}