@import url('../photo-grid/__item/photo-grid__item.css');
@import url('../photo-grid/__picture/photo-grid__picture.css');
.photo-grid {
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 16px;
  list-style-type: none;
  max-width: calc(100% - 96px);
  margin: 92px auto 0 auto;
  padding-inline: 0;
}

@media screen and (max-width:1024px) {
  .photo-grid {
    row-gap: 14px;
    column-gap: 14px;
  }
}