.places {
  list-style-type: none;
  max-width: 984px;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0 auto;
  padding-top: 87px;
}

@media screen and (max-width:1024px) {
  .places {
    padding-top: 91px;
    gap: 81px;
  }
}