@import url('../baikal/__overlay/baikal__overlay.css');
@import url('../baikal/__title/baikal__title.css');
@import url('../baikal/__subtitle/baikal__subtitle.css');
.baikal {
  max-width: 1184px;
  min-height: 740px;
  margin: 0 auto;
  background: border-box;
  background-image: url(../../images/baikal__background.jpg);
  position: relative;
  margin-top: 95px;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width:1024px) {
  .baikal {
    width: 100%;
    min-height: auto;
    max-height: 640px;
    margin-top: 94px;
  }
}

@media screen and (max-width:768px) {
  .baikal {
    width: 100%;
    min-height: auto;
    /* max-height: 480px; */
    margin-top: 94px;
  }
}

@media screen and (max-width:530px) {
  .baikal {
    margin-top: 66px;
  }
}