@import url('../baikal/__overlay/baikal__overlay.css');
@import url('../baikal/__title/baikal__title.css');
@import url('../baikal/__subtitle/baikal__subtitle.css');
.baikal {
  max-width: 1184px;
  min-height: 740px;
  margin: 0 auto;
  background-image: url(../../images/baikal__background.jpg);
  position: relative;
  margin-top: 92px;
}