.photo-grid__item {
  margin-block: 0;
  max-height: 213px;
  min-width: 284px;
}

@media screen and (max-width:1299px) {
  .photo-grid__item {
    min-width: 300px;
    max-height: 225px;
  }
}

@media screen and (max-width:1040px) {
  .photo-grid__item {
    min-width: 352px;
    max-height: 264px;
  }
}

@media screen and (max-width:782px) {
  .photo-grid__item {
    min-width: 288px;
    max-height: 216px;
  }
}