@keyframes hovered {
  from {
    background-color: rgba(42, 44, 47, 0.3);
  }
  to {
    background-color: rgba(42, 44, 47, 0.9);
  }
}

.baikal__overlay {
  background-color: rgba(42, 44, 47, 0.3);
  position: relative;
  z-index: 1;
  max-height: 740px;
  height: calc(100vw*0.625);
}

.baikal__overlay:hover {
  animation: hovered 0.5s linear forwards;
}


/* @media screen and (max-width:1024px) {
  .baikal__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width:768px) {
  .baikal__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width:530px) {
  .baikal__overlay {
    min-height: 200px;
  }
} */