.footer__copyright {
  margin-inline: 0;
  margin-block: 0;
  font: 400 14px/16px 'Inter';
  padding: 3px 19px 0 0;
}

@media screen and (max-width:716px) {
  .footer__copyright {
    margin-top: 20px;
  }
}