.cover {
  max-width: 1184px;
  margin: 0 auto;
  background: border-box;
  background-image: url(../../images/baikal__background.jpg);
  position: relative;
  margin-top: 95px;
  background-position: center;
  background-size: cover;
  max-height: 740px;
  height: calc(100vw*0.625);
}

@media screen and (max-width:1024px) {
  .cover {
    width: 100%;
    /* min-height: auto;
    max-height: 640px; */
    margin-top: 94px;
  }
}

@media screen and (max-width:768px) {
  .cover {
    width: 100%;
    /* min-height: auto; */
    /* max-height: 480px; */
    margin-top: 94px;
  }
}

@media screen and (max-width:530px) {
  .cover {
    margin-top: 66px;
  }
}