.lead__caption {
  font: 400 10px/14px 'Inter', 'sans-serif';
  letter-spacing: 1.47px;
  margin-inline: 0;
  margin-block: 0;
  margin-top: 6px;
  padding-left: calc((100% - 983px)/2);
}

@media screen and (max-width:1024px) {
  .lead__caption {
    padding-left: 48px;
  }
}

@media screen and (max-width:768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width:700px) {
  .lead__caption {
    padding-left: 16px;
  }
}