@import url('../place/__image/place__image.css');
@import url('../place/__paragraph/place__paragraph.css');
@import url('../place/__title/place__title.css');
@import url('../place/__website/place__wesite.css');
@import url('../place/__link/place__link.css');
@import url('../place/__url-heading.css/place__url-heading.css');
@import url('../place/__descriptopn/place__description.css');
.place {
  max-width: 984px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: fit-content(153px) 44px 461px;
  grid-template-columns: 460px 39px 487px;
  grid-template-areas: "title . link" ". . ." "pict . desc";
  box-sizing: border-box;
}