@import url('../footer/__copyright/footer__copyright.css');
@import url('../footer/__navigation/footer__navigation.css');
@import url('../footer/__link/footer__link.css');
.footer {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 96px);
  margin: 0 auto;
  padding: 92px 0 18px 0;
}

@media screen and (max-width:768px) {
  .footer {
    padding: 80px 0 18px 0;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width:716px) {
  .footer {
    flex-direction: column;
    width: calc(100% - 32px);
    padding: 64px 0 24px 0;
    min-height: 310px;
  }
}