.baikal__title {
  max-width: 560px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: calc((100% - 560px)/2);
  top: 245px;
  z-index: 2;
  font: 900 72px/76px 'Inter';
  margin-block: 0;
  color: white;
}