.baikal__title {
  max-width: 560px;
  text-align: center;
  /* margin: 0 auto; */
  position: absolute;
  left: calc((100% - 560px)/2);
  top: 245px;
  z-index: 2;
  font: 900 72px/76px 'Inter';
  margin-block: 0;
  color: white;
}

@media screen and (max-width:1024px) {
  .baikal__title {
    top: 196px;
  }
}

@media screen and (max-width:768px) {
  .baikal__title {
    top: 108px;
  }
}

@media screen and (max-width:530px) {
  .baikal__title {
    font: 900 32px/35px 'Inter';
    top: 33px;
    left: calc((100% - 240px)/2);
    text-align: center;
    max-width: 240px;
  }
}