.intro__title {
  margin-block: 0;
  margin-inline: 0;
  font: 900 54px/58px 'Inter';
}

@media screen and (max-width:700px) {
  .intro__title {
    font: 900 32px/35px 'Inter';
    width: calc(100% - 32);
  }
}